

def read_data_from_csv():
    tags=pd.read_csv('tags.csv')
    return tags


def data_cleaning():
    #DO NOT REMOVE FOLLOWING LINE
    #call remove_unwanted_columns() function to get dataframe
    tags=read_data_from_csv()

    #Remove Unwanted columns
    
    
    
    #rename columns, only these columns are allowed in the dataset
    # 1.	id
    # 2.	tag_name
    # 3.	created_at
    
    #export cleaned Dataset to newcsv file named "tags_cleaned.csv"
    tags.to_csv('tags_cleaned.csv')
    return tags


#Do not Delete the Following function
def task_runner():
    data_cleaning()

task_runner()

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
def read_data_from_csv():
    tags=pd.read_csv(r"C:\Users\Ramakrishna\Desktop\Instant Project\tags.csv")
    return tags

In [3]:
read_data_from_csv()

    id     tag text      created time       location
0    1       sunset  13-04-2023 08:04        florida
1    2  photography  13-04-2023 08:04  washington DC
2    3      sunrise  13-04-2023 08:04       new york
3    4    landscape  13-04-2023 08:04         london
4    5         food  13-04-2023 08:04         brazil
5    6       foodie  13-04-2023 08:04          japan
6    7    delicious  13-04-2023 08:04         Mumbai
7    8       beauty  13-04-2023 08:04      bangalore
8    9     stunning  13-04-2023 08:04        florida
9   10       dreamy  13-04-2023 08:04  washington DC
10  11          lol  13-04-2023 08:04       new york
11  12        happy  13-04-2023 08:04         london
12  13          fun  13-04-2023 08:04         brazil
13  14        style  13-04-2023 08:04          japan
14  15         hair  13-04-2023 08:04         Mumbai
15  16      fashion  13-04-2023 08:04      bangalore
16  17        party  13-04-2023 08:04        florida
17  18      concert  13-04-2023 08:04  washington DC
18  19        drunk  13-04-2023 08:04       new york
19  20        beach  13-04-2023 08:04         london
20  21        smile  13-04-2023 08:04      australia

In [5]:
read_data_from_csv().columns

Index(['id', 'tag text', 'created time', 'location'], dtype='object')

In [ ]:
def data_cleaning():
    #DO NOT REMOVE FOLLOWING LINE
    #call remove_unwanted_columns() function to get dataframe
    tags=read_data_from_csv()

    #Remove Unwanted columns
    tags.drop('location',axis=1,inplace=True)
    #rename columns, only these columns are allowed in the dataset
    # 1.	id
    # 2.	tag_name
    # 3.	created_at
    columns_name={'id':'id','tag text':'tag_name',}
    #export cleaned Dataset to newcsv file named "tags_cleaned.csv"
    tags.to_csv('tags_cleaned.csv')
    return tags